<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.smart.board.dao.ReservationDao">
    <insert id="rvWrite" parameterType="Reservation">
        INSERT INTO reservation
        (rvseq, usrid, bookseq,rvStartDate,rvEndDate)
        values
        (rv_seq.nextval, #{usrid}, #{bookseq},#{rvStartDate},to_date(#{rvStartDate})+5)
    </insert>
</mapper>

